
@{
    Layout = null;
}
@model IEnumerable<DemoMVC.Models.SysUser>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> hello world !mvc
    <table>
        <tr >
            <th >

            </th>
            <td>

            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    </div>
</body>
</html>
